<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
!pip install mysql-connector

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector
  Using cached mysql-connector-2.2.9.tar.gz (11.9 MB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp311-cp311-win_amd64.whl size=247958 sha256=30adc7edf5488cab63b206107eab5bdc31b89d3bc0d6a1c1899102f73a3e1386
  Stored in directory: c:\users\aazim\appdata\local\pip\cache\wheels\17\cd\ed\2d49e9bac69cf09382e4c7cc20a2511202b48324b87db26019
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [1]:
import csv
import mysql.connector
con = mysql.connector.connect(host="localhost",user="root",passwd="sql#1234",auth_plugin='mysql_native_password')
if (con):
    print(1)
else:
    print(0)

1

In [2]:
import pandas as pd
# df = pd.read_csv("spacex_web_scraped.csv")
# df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

**Note:This below code is added to remove blank rows from table**

In [ ]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

In [3]:
def display(table):
    for row in table:
        print(row)

In [4]:
mycursor = con.cursor()
mycursor.execute("Show DATABASES")
display(mycursor)

('chicago',)
('chicago_data',)
('employees',)
('employees_mod',)
('information_schema',)
('mysql',)
('performance_schema',)
('sales',)
('spacex',)
('spacex1',)
('spacex2',)
('sys',)

In [5]:
mycursor.execute("Use spacex1")
mycursor.execute("Show Tables")
display(mycursor)

('spacextables',)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [6]:
mycursor.execute('SELECT DISTINCT LAUNCH_SITE as "Launch_Sites" FROM SPACEXTABLES')
display(mycursor)

('CCAFS LC-40',)
('VAFB SLC-4E',)
('KSC LC-39A',)
('CCAFS SLC-40',)


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [7]:
mycursor.execute('SELECT * FROM SPACEXTABLES WHERE LAUNCH_SITE LIKE "CCA%" LIMIT 5')
display(mycursor)

(datetime.datetime(2010, 6, 4, 0, 0), '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
(datetime.datetime(2010, 12, 8, 0, 0), '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
(datetime.datetime(2012, 5, 22, 0, 0), '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
(datetime.datetime(2012, 10, 8, 0, 0), '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
(datetime.datetime(2013, 3, 1, 0, 0), '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [8]:
mycursor.execute('SELECT SUM(PAYLOAD_MASS__KG_) FROM SPACEXTABLES WHERE CUSTOMER = "NASA (CRS)"')
display(mycursor)

(Decimal('45596'),)

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [9]:
mycursor.execute('SELECT AVG(PAYLOAD_MASS__KG_) FROM SPACEXTABLES WHERE BOOSTER_VERSION="F9 v1.1"')
display(mycursor)

(Decimal('2928.4000'),)

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [10]:
mycursor.execute('SELECT MIN(DATE) FROM SPACEXTABLES WHERE LANDING_OUTCOME LIKE "Success%" ')
display(mycursor)

(datetime.datetime(2015, 12, 22, 0, 0),)

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [11]:
mycursor.execute('SELECT BOOSTER_VERSION FROM SPACEXTABLES WHERE LANDING_OUTCOME = "Success (drone ship)" AND PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000')
display(mycursor)

('F9 FT B1022',)
('F9 FT B1026',)
('F9 FT  B1021.2',)
('F9 FT  B1031.2',)

### Task 7




##### List the total number of successful and failure mission outcomes

In [12]:
mycursor.execute('SELECT COUNT(MISSION_OUTCOME) AS number_of_success_outcomes FROM SPACEXTABLES WHERE MISSION_OUTCOME LIKE "SUCCESS%"')
display(mycursor)
mycursor.execute('SELECT COUNT(MISSION_OUTCOME) AS number_of_failure_outcomes FROM SPACEXTABLES WHERE MISSION_OUTCOME NOT LIKE "SUCCESS%"')
display(mycursor)

(100,)
(1,)

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [13]:
mycursor.execute('SELECT DISTINCT BOOSTER_VERSION FROM SPACEXTABLES WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTABLES)')
display(mycursor)

('F9 B5 B1048.4',)
('F9 B5 B1049.4',)
('F9 B5 B1051.3',)
('F9 B5 B1056.4',)
('F9 B5 B1048.5',)
('F9 B5 B1051.4',)
('F9 B5 B1049.5',)
('F9 B5 B1060.2 ',)
('F9 B5 B1058.3 ',)
('F9 B5 B1051.6',)
('F9 B5 B1060.3',)
('F9 B5 B1049.7 ',)

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [16]:
mycursor.execute('SELECT DATE, BOOSTER_VERSION, LAUNCH_SITE FROM SPACEXTABLES WHERE DATE >= "2015-01-01" AND DATE < "2016-01-01" AND LANDING_OUTCOME = "Failure (drone ship)"')
display(mycursor)

(datetime.datetime(2015, 1, 10, 0, 0), 'F9 v1.1 B1012', 'CCAFS LC-40')
(datetime.datetime(2015, 4, 14, 0, 0), 'F9 v1.1 B1015', 'CCAFS LC-40')

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [17]:
mycursor.execute('SELECT LANDING_OUTCOME, COUNT(LANDING_OUTCOME) AS COUNT_OF_OUTCOME FROM SPACEXTABLES WHERE DATE BETWEEN "2010-06-04" AND "2017-03-20" GROUP BY LANDING_OUTCOME ORDER BY COUNT_OF_OUTCOME DESC')
display(mycursor)

('No attempt', 10)
('Failure (drone ship)', 5)
('Success (drone ship)', 5)
('Controlled (ocean)', 3)
('Success (ground pad)', 3)
('Failure (parachute)', 2)
('Uncontrolled (ocean)', 2)
('Precluded (drone ship)', 1)

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>